<div class="panel-body">
    <ul>
        <li *ngFor="let product of products">
            <app-cart-item [product]="product"></app-cart-item>
        </li>
    </ul>

    <form class="form-horizontal"
          [formGroup]="formGroup"
          novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="email"
                       class="form-control"
                       id="firstName"
                       placeholder="First Name"
                       formControlName="firstName">
                <span class="help-block" *ngIf="validationMessages['firstName']">
                   {{validationMessages['firstName']}}
                </span>
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="lastName"
                       placeholder="Last Name"
                       formControlName="lastName">
                <span class="help-block"  *ngIf="validationMessages['lastName']">
                   {{validationMessages['lastName']}}
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="city">City</label>
                <input type="text"
                       class="form-control"
                       id="city"
                       placeholder="City"
                       formControlName="city">
                <span class="help-block"  *ngIf="validationMessages['city']">
                   {{validationMessages['city']}}
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="address">Address</label>
                <input type="text"
                       class="form-control"
                       id="address"
                       placeholder="Address"
                       formControlName="address">
                <span class="help-block"  *ngIf="validationMessages['address']">
                   {{validationMessages['address']}}
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Email address"
                       formControlName="email">
                <span class="help-block"  *ngIf="validationMessages['email']">
                   {{validationMessages['email']}}
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="phone">Phone number</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       placeholder="Phone"
                       formControlName="phone">
                <span class="help-block"  *ngIf="validationMessages['phone']">
                   {{validationMessages['phone']}}
                </span>
            </div>
            <div class="form-group col-md-12">
                <label for="comment">Additional information</label>
                <textarea class="form-control"
                          id="comment"
                          placeholder="Your comment or additional information"
                          formControlName="comment">
                </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>